@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>You must sign in your account to use this website</p>
    <p class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="UnknownUser" asp-action="SignIn">Sign In</a>
    </p>
    <p class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="UnknownUser" asp-action="SignUp">Sign Up</a>
    </p>
</div>
