<form action="post" asp-action="">
    <label class="signincomp">Email:</label>
    <input type="email" class="signincomp" />
    <label class="signincomp">Password:</label>
    <input type="password" class="signincomp"/>
    <input type="submit" class="signincomp"/>
</form>
<form action="post" asp-action="">

</form>
