<form method="post" asp-action="SignIn">
    <label class="signincomp">Email:</label>
    <input type="email" class="signincomp" />
    <label class="signincomp">Password:</label>
    <input type="password" class="signincomp" />
    <input type="submit" class="signincomp" value="Sign In" />
</form>
<form method="post" asp-action="SignInGoogle">
    <input type="submit" value="Google"/>
</form>
