@model HeadphonesShop.PresentationWebMVC.Models.ViewModel.UserRegistrationViewModel
<div>
    <form method="post" asp-controller="Account" asp-action="SignUp">
        <div class="signupcomp">
            <label>Email:</label>
            <input type="email" name="user.Email" />
            <label>Password:</label>
            <input type="password" name="user.Password" />
            <label>Repeat password:</label>
            <input type="password" name="user.RePassword"/>
            <input type="submit" value="Sign Up" />
        </div>
    </form>
</div>