@model HeadphonesShop.PresentationWebMVC.Models.LogicModels.User

<div class="signincomp">
    <form method="post" asp-action="SignIn">
        <div class="signincomp">
            <label>Email:</label>
            <input type="email" name="User.Login" />
            <label>Password:</label>
            <input type="password" name="User.Password" />
            <input type="submit" value="Sign In" />
        </div>
        
    </form>
    <form method="post" asp-action="SignInGoogle">
        <div class="signincomp">
            <input type="submit" value="Google" />
        </div>
    </form>
</div>