@using HeadphonesShop.PresentationWebMVC.Models.DTO;
@model AddHeadphonesDTO

<div>
    <form method="post" asp-controller="Admin" asp-action="AddHeadphones">
        <label>Name: </label>
        <input name="headphonesDTO.Headphones.Name" />
        <label>Company</label>
        <select name="headphonesDTO.Headphones.Company.Name">
            @foreach (var i in Model.Companies)
            {
                <option value="@i.Name">@i.Name</option>
            }
        </select>
        <select name="headphonesDTO.Headphones.Design.Name">
            @foreach(var i in Model.Designs)
            {
                <option value="@i.Name">@i.Name</option>
            }
        </select>
        <input type="submit" value="Add"/>
    </form>
</div>