<div>
    <button asp-area="" asp-controller="UnknownUser" asp-action="SignIn">
        SignIn
    </button>
    <button asp-area="" asp-controller="UnknownUser" asp-action="SignUp">
        SignUp
    </button>
</div>
<div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="UnknownUser" asp-action="SignIn">SignIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="UnknownUser" asp-action="SignUp">SignUp</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>